/* .selected-option {
    display: inline-flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 16px;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: default;
  }
  
  .selected-option i {
    margin-right: 8px;
    color: #888;
  }
  
  .selected-option span {
    font-weight: bold;
    color: #333;
  }
  
  .input-chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 8px;
  }
  
  .input-chips input {
    flex-grow: 1;
    border: none;
    outline: none;
    margin-right: 8px;
    font-size: 14px;
  } */